@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-mono: 'JetBrainsMono Nerd Font', monospace;
  --color-accent-50: #ede9fe;
  --color-accent-100: #ddd6fe;
  --color-accent-200: #c4b5fd;
  --color-accent-300: #a78bfa;
  --color-accent-400: #8b5cf6;
  --color-accent-500: #7c3aed;
  --color-accent-600: #6d28d9;
  --color-accent-700: #5b21b6;
  --color-accent-800: #4c1d95;
  --color-accent-900: #3b0764;
  --color-accent-950: #1e1040;
}
