---
interface Heading {
  depth: number;
  slug: string;
  text: string;
}

interface Props {
  headings: Heading[];
}

const { headings } = Astro.props;
const filteredHeadings = headings.filter(h => h.depth >= 2 && h.depth <= 3);
---

{filteredHeadings.length > 0 && (
  <aside class="docs-toc">
    <nav class="toc-nav">
      <p class="toc-title">On this page</p>
      <ul>
        {filteredHeadings.map(heading => (
          <li class={`toc-depth-${heading.depth}`}>
            <a href={`#${heading.slug}`} class="toc-link">
              {heading.text}
            </a>
          </li>
        ))}
      </ul>
    </nav>
  </aside>
)}
